In [ ]:
import pandas as pd

# URL del dataset del Titanic
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"

# Cargar el dataset en un dataframe de pandas directamente desde la URL
titanic_df = pd.read_csv(url)

# Mostrar las primeras filas del dataframe
titanic_df.head()

In [ ]:
a = [1,2,3,4]
b = [-1, -2, -3, -4]

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.plot(a,b)
plt.show()

In [5]:
a

[1, 2, 3, 4]